/* CSS Document */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* algemene styling */

:root {
  text-decoration: none;
  --beatsblack: black;
  --beatswhite: white;
  --beatschocolateblack: #333333;
  --beatsstripe: #a7a6a6;
  --beatsblue: #5a7494;
  --darkgrey: #757575;
  --beigewhite: #e5e5e5;
  --lightgrey: #949494;
  --colorchoiceblack: #2b2b2b;
  --colorchoicerose: #ca9994;
  --colorchoicered: #b10212;
  --colorchoicebeige: #f7ede2;
  --colorchoiceleightbeige: #f7ece2;
  --colorchoicedarkbeige: #ca9994;
  --colorchoiceyellow: #f2fb97;
  --colorchoicebabyblue: #adddf2;
  --colorchoicegrey: #ddd;
  --colorchoicedarkgrey: #374754;
  --colorstripemenu: #161616;
  --header-height: 3.125em;
  margin: 0;
  padding: 0;

}

*,
html {
  font-family: niveau-grotesk, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}


/* styling voor de animatie van de pagina met behulp van javascript code */

.animatiefader {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.animatiefader.fade {
  opacity: 1;
  transition: opacity .4s ease-out, transform .4s ease-out, -webkit-transform .4s ease-out;
}

/* header styling */

header {
  height: var(--header-height)
}


button {
  border: none;
  background-color: transparent;
  margin-left: 1em;
  margin-right: 1em;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: var(--beatswhite);
  height: var(--header-height);
  top: 0;
  width: 100%;
  z-index: 3;
}

header img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.3em;
}

header>nav section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--beatswhite);
  text-decoration: none;
  height: 75%;
  width: 100%;
  z-index: 3;
}

header>nav section a,
img {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--beatswhite);
  text-decoration: none;
}


header>nav section img {
  width: 1.5em;
  height: 1.5em;
}

/* nav styling */

.menuknop {
  display: flex;
  margin-top: 0em;
  padding: 0.5em 0 0 0.25em;
  width: 2em;
  height: 2em;
}


.menubalken {
  position: fixed;
  right: 0;
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--beatswhite);
  transition: .5s;
  transform: translateY(-100vh);
  margin-top: var(--header-height);

}

/* menu laten zien styling */

.laatmenuzien {
  transform: translateY(0);
  opacity: 1;
  margin-top: 2em;
}

/* menu knop stylin */

.streepjemidden {
  margin-top: 0.4em;
}

.streepjeonder {
  margin-top: 0.8em;
}

.streepjeboven {
  margin-top: 0.05em;
}

/* menu knop animatie styling */


.verander .streepjeboven {
  transform: rotate(-45deg);
  margin: 0.4em 0;
}

.verander .streepjemidden {
  opacity: 0;
}

.verander .streepjeonder {
  transform: rotate(45deg);
  margin: 0.4em 0;
}

/* alle 3 de streepjes van menu knop styling */

.streepjeboven,
.streepjemidden,
.streepjeonder {
  position: fixed;
  background-color: var(--beatsblack);
  width: 1.4em;
  height: 2px;
  transition: .5s;
}

/* Menu styling */

header>nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-weight: 900;
  font-size: 1.1em;
}


header>nav ul li a {
  text-decoration: none;
  font-weight: 900;
  color: var(--beatsblack);
}

header>nav ul li a img {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0 1em;
  font-weight: 900;
  margin-top: 0em;
  font-size: 1.1em;
}

body header>nav ul li ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

body header>nav ul li ul li a img {
  height: 1.15em;

}

body header>nav ul li ul li {
  margin-top: 0.5em;

}

body header>nav>ul>li:last-of-type {
  margin-top: 0;
}

body header>nav>ul>li {
  border-top: 1px solid var(--colorstripemenu);
  padding: 2.5em 0em;
  margin: 0 1.5em;
}

body header>nav>ul>li:first-of-type {
  margin-top: 2em;
}

/* Styling van de zwarte banner bovenaan de pagina / pagina 1 */

body main>section:first-of-type {
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--beatschocolateblack);
}

body main>section:first-of-type a,
img {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--beatswhite);
  height: 75%;
}


body main>section:first-of-type img {
  margin-left: 0.25em;
}

/* styling van de witte blauwe beats image met bijbehorende elementen */

.bodyhomepagina main>section:nth-of-type(2) {
  background-color: var(--beatsblue);
  color: var(--beatswhite);
  padding: 0 2em 2em 2em;
}

.bodyhomepagina main>section:nth-of-type(2) h1 {
  font-size: 2.3em;
}

.bodyhomepagina main>section:nth-of-type(2) p {
  font-size: 1em;
  font-weight: 900;
  padding-bottom: 1em;
}

.bodyhomepagina main>section:nth-of-type(2) h1 span {
  white-space: nowrap;
  text-transform: uppercase;
}


.bodyhomepagina main>section:nth-of-type(2) img {
  width: 100%;
}


.bodyhomepagina article:first-of-type {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.bodyhomepagina a:first-of-type img:first-of-type {
  height: 1em;
  margin-left: 0.5em;
}

.bodyhomepagina main>section:nth-of-type(2) a:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 2em 0 0;
  padding: 1em 2em 1em 2em;
  background-color: var(--beatswhite);
  color: var(--beatsblack);
  text-decoration: none;
  border-radius: 1.875em;
  font-size: 0.8em;
}

.bodyhomepagina main>section:nth-of-type(2) a:nth-of-type(2) {
  margin: 2em 6em 0 0;
  padding: 1em 2em 1em 2em;
  border: 0.125em solid var(--beatswhite);
  color: var(--beatswhite);
  text-decoration: none;
  border-radius: 1.875em;
  font-size: 0.8em;
}

/* styling van de image met de man met beats oortjes in met bijbehorende elementen */

.bodyhomepagina main>section:nth-of-type(3) {
  margin-top: 1em;
}

.bodyhomepagina main>section:nth-of-type(3) img {
  width: 100%;
  padding: 2em 2em 0;
}

.bodyhomepagina main>section:nth-of-type(3) a {
  margin: 0 1.2em;
  text-decoration: none;
  font-size: 1.5em;
  color: var(--lightgrey);
  font-weight: 900;
}

.bodyhomepagina main>section:nth-of-type(3) h2:nth-of-type(1) {
  margin: 0 1.2em;
}

/* styling van de image met de wireless earplugs en bijbehorende elementen */

.bodyhomepagina main>section:nth-of-type(4) {
  margin-top: 1em;
}

.bodyhomepagina main>section:nth-of-type(4) img {
  width: 100%;
  padding: 2em 2em 0;
}

.bodyhomepagina main>section:nth-of-type(4) a {
  margin: 0 1.2em;
  text-decoration: none;
  font-size: 1.5em;
  color: var(--lightgrey);
  font-weight: 900;
}


.bodyhomepagina main>section:nth-of-type(4) h2:nth-of-type(1) {
  margin: 0 1.2em;
}

/* styling van de image met de black earphone en bijbehorende elementen */

.bodyhomepagina main>section:nth-of-type(5) {
  margin-top: 1em;
  margin-bottom: 2em;
}

.bodyhomepagina main>section:nth-of-type(5) img {
  width: 100%;
  padding: 2em 2em 0;
}

.bodyhomepagina main>section:nth-of-type(5) a {
  margin: 0 1.2em;
  margin-bottom: 2em;
  text-decoration: none;
  font-size: 1.5em;
  color: var(--lightgrey);
  font-weight: 900;
}


.bodyhomepagina main>section:nth-of-type(5) h2:nth-of-type(1) {
  margin: 0 1.2em 0em;
}


/* styling voor de zwarte keuzebalk bovenin pagina 2 */


.kooppagina main article:first-of-type ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: var(--colorstripemenu);
  color: var(--beatswhite);
  padding: 1.6em 2em;
  z-index: 2;
  top: 3.125em;
  width: 100%;
}

.kooppagina main article:first-of-type ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 6em;
  font-size: 12px;
  text-decoration: none;
  color: var(--beatswhite);
  z-index: 2;
}

/* styling voor de "snel en gratis bezorgd" sectie / pagina 2 */


.kooppagina main>section:first-of-type {
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--beatschocolateblack);
  margin: 6.5em 0 0 0;
}

.kooppagina main>section:first-of-type a:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--beatswhite);
  text-decoration: none;
  height: 60%;
  font-size: 1em;
  font-weight: 400;
  margin: 0em 0.2em;
}

/* styling van de h2 / pagina 2 */

.kooppagina main>section:nth-of-type(2) h2:first-of-type {
  display: flex;
  justify-content: center;
  margin: 2em 1em -1em 1em;
  font-size: 1.8em;
}

.kooppagina main>section:nth-of-type(6) h2:nth-of-type(1) {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 2em 1em -1em 1em;
  font-size: 1.8em;
}

.kooppagina main>section:nth-of-type(9) h2:nth-of-type(1) {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: nowrap;
  margin: 2em 0em -1em 0em;
  font-size: 1.7em;
}

/* styling van de image met de blauwe buds / pagina 2 */

.kooppagina main>.sectieautomatisering img {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
}

/* styling van de h3 / pagina 2 */

.kooppagina main>section h3:nth-of-type(1) {
  display: flex;
  justify-content: left;
  margin: 1em 0.85em 0;
  font-weight: 900;
  font-size: 1.8em;
}


/* styling van de prijs van de blauwe buds / pagina 2 */

.kooppagina main>section>p:first-of-type {
  display: flex;
  font-size: 1.5em;
  margin: 0.5em 1.3em;
  font-weight: 600;
  font-size: 1.2em;
}

/* styling van de list met features / pagina 2 */

.kooppagina main>section ul {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0.5em 2.5em 0em;
}

.kooppagina main>section ul li {
  margin: 0.5em 0;
  font-size: 13px;
}

/* styling van de p en de kleuren / pagina 2 */

.kooppagina main>section ul:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  margin: 1.5em 1.5em 2em 2em;
  font-size: 0.9375em;
}

.kooppagina main>section ul:nth-of-type(2) li {
  background-color: var(--colorchoiceblack);
  height: 10px;
  width: 10px;
  border-radius: 10px;
  margin-right: 0.3em;
  margin-left: 0.4em;
}

.kooppagina main>section ul:nth-of-type(2) li:first-of-type {
  width: fit-content;
  height: auto;
  margin: 0;
  background-color: transparent;
  border-radius: 0px;
}

.kooppagina main>.section ul:nth-of-type(2) li:nth-of-type(2) {
  margin-left: 1em;
}

.kooppagina main>section ul:nth-of-type(2) li:nth-of-type(3) {
  background-color: var(--colorchoicebeige);
}

.kooppagina main>section ul:nth-of-type(2) li:nth-of-type(4) {
  background-color: var(--colorchoicered);
}


/* styling van de kleuren van de beats flex oortjes / pagina 2 */


.kooppagina main>section:nth-of-type(4) ul:nth-of-type(2) li:nth-of-type(3) {
  background-color: var(--colorchoiceyellow);
}

.kooppagina main>section:nth-of-type(4) ul:nth-of-type(2) li:nth-of-type(4) {
  background-color: var(--colorchoicebabyblue);
}

.kooppagina main>section:nth-of-type(4) ul:nth-of-type(2) li:nth-of-type(5) {
  background-color: var(--colorchoicegrey);
}


/* styling van de powerbeats pro kleuren  / pagina 2  */

.kooppagina main>section:nth-of-type(5) ul:nth-of-type(2) li:nth-of-type(2) {
  background-color: var(--colorchoiceleightbeige);
}

.kooppagina main>section:nth-of-type(5) ul:nth-of-type(2) li:nth-of-type(3) {
  background-color: var(--colorchoiceblack);
}

.kooppagina main>section:nth-of-type(5) ul:nth-of-type(2) li:nth-of-type(4) {
  background-color: var(--colorchoicedarkgrey);
}

.kooppagina main>section:nth-of-type(5) ul:nth-of-type(2) li:nth-of-type(5) {
  background-color: var(--colorchoicegrey);
}

/* styling van de beats solo wireless kleuren / pagina 2 */

.kooppagina main>section:nth-of-type(7) ul:nth-of-type(2) li:nth-of-type(2) {
  background-color: var(--colorchoiceblack);
}

.kooppagina main>section:nth-of-type(7) ul:nth-of-type(2) li:nth-of-type(3) {
  background-color: var(--colorchoicedarkbeige);
}

.kooppagina main>section:nth-of-type(7) ul:nth-of-type(2) li:nth-of-type(4) {
  background-color: var(--colorchoicered);
}

/* styling van de beats studio wireless kleuren / pagina 2 */

.kooppagina main>section:nth-of-type(8) ul:nth-of-type(2) li:nth-of-type(2) {
  background-color: var(--colorchoiceblack);
}

.kooppagina main>section:nth-of-type(8) ul:nth-of-type(2) li:nth-of-type(3) {
  background-color: var(--colorchoicered);
}

.kooppagina main>section:nth-of-type(8) ul:nth-of-type(2) li:nth-of-type(4) {
  background-color: var(--colorchoicebeige);
}

.kooppagina main>section:nth-of-type(8) ul:nth-of-type(2) li:nth-of-type(5) {
  background-color: var(--colorchoicedarkgrey);
}

.kooppagina main>section:nth-of-type(8) ul:nth-of-type(2) li:nth-of-type(6) {
  background-color: var(--colorchoicegrey);
}

/* styling van de beats pill kleuren / pagina 2 */

.kooppagina main>section:nth-of-type(10) ul:nth-of-type(2) li:nth-of-type(2) {
  background-color: var(--colorchoicebeige);
}

.kooppagina main>section:nth-of-type(10) ul:nth-of-type(2) li:nth-of-type(3) {
  background-color: var(--colorchoiceblack);
}

.kooppagina main>section:nth-of-type(10) ul:nth-of-type(2) li:nth-of-type(4) {
  background-color: var(--colorchoicered);
}


/* styling van de bekijk details knop / pagina 2 */

.kooppagina main>.sectieautomatisering a {
  background-color: black;
  text-decoration: none;
  color: var(--beatswhite);
  margin: 1em 2em;
  padding: 1em 1.7em 1em 1.7em;
  border-radius: 1.875em;
  font-size: 0.8em;
}

/* styling van de social media icons in het menu / pagina 2 */


/* styling van de footer */

footer ul {
  width: 100%;
  list-style: none;
  border: solid var(--beigewhite);
  border-width: 1px 0;
  margin: 2em 0 0 0;
  padding: 1.5em 0 2.5em 0;
  font-size: 1.6em;
}

footer ul li {
  display: flex;
  float: left;
  justify-content: center;
  width: 3.5em;
  color: var(--darkgrey);

}

footer article:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--beigewhite);
  margin: 0em 1.1em 0 1.1em;
  padding: 1.2em 0.5em 1.2em 0.5em;
  font-weight: 700;
}

footer article:nth-of-type(1) a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: var(--darkgrey);
  font-size: 0.8em;

}

footer article:nth-of-type(1) img {
  display: flex;
  align-items: center;
  font-size: 1em;
}

footer article:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--beigewhite);
  margin: 0em 1.1em 0 1.1em;
  padding: 1.2em 0.5em 1.2em 0.5em;
  font-weight: 700;
}

footer article:nth-of-type(2) a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: var(--darkgrey);
  font-size: 0.8em;


}

footer article:nth-of-type(2) img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
}

footer article:nth-of-type(3) p {
  color: var(--darkgrey);
  text-align: center;
  font-size: .7333333333rem;
  margin: 0em 2em 0 1em;
  padding: 3em 0em 3em 0em;
  letter-spacing: 0;
  line-height: 1.38462;
}

footer article:nth-of-type(3) a img {
  font-size: 1.7em;
}

footer article:nth-of-type(3) a,
p {
  display: flex;
  justify-content: space-between;
}

footer article:first-of-type {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

footer a:first-of-type img:first-of-type {
  height: 1em;
  margin-left: 0.5em;
}